target/classes/reserva_viaje.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="3000" doc:name="HTTP Request Configuration"/>
    <flow name="reserva_viaje">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/reserva" doc:name="HTTP"/>
        <json:json-to-object-transformer doc:name="JSON to Object"/>

        <set-variable variableName="reserva" value="#[payload]" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="16a19e47-e007-497e-9fa4-e2918713dbb2">
            <dw:input-variable mimeType="application/json" variableName="reserva"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	usuario: flowVars.reserva.login.usuario,
	password: flowVars.reserva.login.password
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/usuario/verificar" method="POST" doc:name="Verificar Usuario">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <dw:transform-message doc:name="Transform Message" metadata:id="036120e0-ff1d-4865-879e-939e566e56f0">
            <dw:input-payload doc:sample="C:\MTIS\workspaceAnypointStudio\reserva_viaje\json\s_avion_validar.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	allOk: payload.allOk,
	descuento: payload.descuento
}]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="usuario_registrado" value="#[payload]" doc:name="Variable"/>
        <flow-ref name="reserva_avion" doc:name="Reserva avi&#243;n"/>
        <flow-ref name="reserva_hotel" doc:name="Reserva Hotel"/>
        <flow-ref name="reserva_coche" doc:name="Reserva Coche"/>
        <flow-ref name="reserva_total" doc:name="Reserva Total"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
            <set-variable variableName="param" value="#[payload.codigo]" doc:name="Variable"/>
            <http:request config-ref="HTTP_Request_Configuration" path="/notificacion/error" method="GET" doc:name="HTTP_error">
                <http:request-builder>
                    <http:query-param paramName="codigo" value="#[flowVars.param]"/>

                </http:request-builder>
            </http:request>
        </catch-exception-strategy>

        
    </flow>
    <sub-flow name="reserva_avion">
        <dw:transform-message doc:name="Transform Message" metadata:id="b3bad7d2-69a4-4ac6-bb0f-a2248c6486f4">
            <dw:input-payload/>
            <dw:input-variable mimeType="application/json" variableName="reserva"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json indent = false
---
{
	reserva_id: flowVars.reserva.avion.reserva_id,
	fecha_ida: flowVars.reserva.avion.fecha_ida,
	fecha_regreso: flowVars.reserva.avion.fecha_regreso,
	cantidad_personas: flowVars.reserva.avion.cantidad_personas,
	lugar_origen: flowVars.reserva.avion.lugar_origen,
	lugar_destino: flowVars.reserva.avion.lugar_destino,
	precio: flowVars.reserva.avion.precio
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/avion/validar" method="POST" followRedirects="false" doc:name="HTTP_validar">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message" metadata:id="9f233a7d-6a31-47bd-ade8-09cc01db999d">
            <dw:input-variable mimeType="application/json" variableName="reserva"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json indent = false
---
{
	fecha_ida: flowVars.reserva.avion.fecha_ida,
	fecha_regreso: flowVars.reserva.avion.fecha_regreso,
	lugar_origen: flowVars.reserva.avion.lugar_origen,
	lugar_destino: flowVars.reserva.avion.lugar_destino
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/avion/disponibilidad" method="POST" doc:name="HTTP_disponibilidad">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="precio_avion" value="#[payload]" doc:name="Variable"/>
        <choice doc:name="Descuento?">
            <when expression="#[usuario_registrado.allOk == 'true' &amp;&amp; usuario_registrado.descuento == 1]">
                <http:request config-ref="HTTP_Request_Configuration" path="/avion/descuento" method="GET" doc:name="HTTP">
                    <http:request-builder>
                        <http:header headerName="precio" value="#[flowVars.precio_avion.precio]"/>
                    </http:request-builder>
                </http:request>
                <dw:transform-message doc:name="Transform Message">
                    <dw:input-payload doc:sample="sample_data\json_2.json"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	descuento: payload.descuento
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	descuento: flowVars.precio_avion.precio
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
        <set-variable variableName="descuento_avion" value="#[payload]" doc:name="descuento_avion"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="949a8dea-486f-4b3e-861f-8a8454186d1b">
            <dw:input-variable mimeType="application/json" variableName="reserva"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	reserva_id: flowVars.reserva.avion.reserva_id,
	fecha_ida: flowVars.reserva.avion.fecha_ida,
	fecha_regreso: flowVars.reserva.avion.fecha_regreso,
	cantidad_personas: flowVars.reserva.avion.cantidad_personas,
	lugar_origen: flowVars.reserva.avion.lugar_origen,
	lugar_destino: flowVars.reserva.avion.lugar_destino,
	precio: flowVars.descuento_avion.descuento
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/avion/reservaAvion" method="POST" doc:name="HTTP_reserva">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="resultado_avion" value="#[payload]" doc:name="Variable"/>

    </sub-flow>
    <sub-flow name="reserva_hotel">
        <dw:transform-message doc:name="Transform Message" metadata:id="d8a2a4f0-bb47-42d5-ab97-aae7ebd931b2">
            <dw:input-variable mimeType="application/json" variableName="reserva"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	fecha_checkin: flowVars.reserva.hotel.fecha_checkin,
	fecha_checkout: flowVars.reserva.hotel.fecha_checkout
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/hotel/validar" method="POST" doc:name="HTTP_validar">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message" metadata:id="bc7f4c86-5480-41c2-8558-9aa837c1b78e">
            <dw:input-variable mimeType="application/json" variableName="reserva"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	fecha_checkin: flowVars.reserva.hotel.fecha_checkin,
    fecha_checkout: flowVars.reserva.hotel.fecha_checkout,
    tipo_habitacion: flowVars.reserva.hotel.tipo_habitacion,
    cama_supletoria: flowVars.reserva.hotel.cama_supletoria
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/hotel/disponibilidad" method="POST" doc:name="HTTP_disponibilidad">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="precio_hotel" value="#[payload]" doc:name="Variable"/>
        <choice doc:name="Descuento?">
            <when expression="#[usuario_registrado.allOk == 'true' &amp;&amp; usuario_registrado.descuento == 1]">
                <http:request config-ref="HTTP_Request_Configuration" path="/hotel/descuento" method="GET" doc:name="HTTP">
                    <http:request-builder>
                        <http:header headerName="precio" value="#[flowVars.precio_hotel.precio]"/>
                    </http:request-builder>
                </http:request>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	descuento:payload.descuento
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	descuento: flowVars.precio_hotel.precio
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
        <set-variable variableName="descuento_hotel" value="#[payload]" doc:name="descuento_hotel"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="bdc663d1-d9ab-4939-a1b9-cffed9512721">
            <dw:input-variable mimeType="application/json" variableName="reserva"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	reserva_id: flowVars.reserva.hotel.reserva_id,
    fecha_checkin: flowVars.reserva.hotel.fecha_checkin,
    fecha_checkout: flowVars.reserva.hotel.fecha_checkout,
    tipo_habitacion: flowVars.reserva.hotel.tipo_habitacion,
    cama_supletoria: flowVars.reserva.hotel.cama_supletoria,
    precio: flowVars.descuento_hotel.descuento
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/hotel/reservaHotel" method="POST" doc:name="HTTP_reserva">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="resultado_hotel" value="#[payload]" doc:name="Variable"/>

    </sub-flow>
    <sub-flow name="reserva_coche">
        <dw:transform-message doc:name="Transform Message" metadata:id="7a8f01d9-f5e4-4c64-b5c9-1ea1c73e90dd">
            <dw:input-variable mimeType="application/json" variableName="reserva"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	fecha_recogida: flowVars.reserva.coche.fecha_recogida,
	fecha_devolucion: flowVars.reserva.coche.fecha_devolucion,
	lugar_recogida: flowVars.reserva.coche.lugar_recogida,
	lugar_devolucion: flowVars.reserva.coche.lugar_devolucion
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/coche/validar" method="POST" doc:name="HTTP_validar">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message" metadata:id="d8b5c11d-afab-4896-8e33-a017d35ad7d0">
            <dw:input-variable mimeType="application/json" variableName="reserva"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	fecha_recogida: flowVars.reserva.coche.fecha_recogida,
	fecha_devolucion: flowVars.reserva.coche.fecha_devolucion,
	lugar_recogida: flowVars.reserva.coche.lugar_recogida,
	lugar_devolucion: flowVars.reserva.coche.lugar_devolucion,
	tanque_lleno: flowVars.reserva.coche.tanque_lleno
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/coche/disponibilidad" method="POST" doc:name="HTTP_disponibilidad">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="precio_coche" value="#[payload]" doc:name="Variable"/>
        <choice doc:name="Descuento?">
            <when expression="#[usuario_registrado.allOk == 'true' &amp;&amp; usuario_registrado.descuento == 1]">
                <http:request config-ref="HTTP_Request_Configuration" path="/coche/descuento" method="GET" doc:name="HTTP">
                    <http:request-builder>
                        <http:header headerName="precio" value="#[flowVars.precio_coche.precio]"/>
                    </http:request-builder>
                </http:request>
                <dw:transform-message doc:name="Transform Message">
                    <dw:input-payload doc:sample="sample_data\json_3.json"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	descuento:payload.descuento
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <dw:transform-message doc:name="Transform Message">
                    <dw:input-payload/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	descuento: flowVars.precio_hotel.precio
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
        <set-variable variableName="descuento_coche" value="#[payload]" doc:name="descuento_coche"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="1a45f64e-6393-4f3f-ac3d-63cdd71fe65a">
            <dw:input-variable mimeType="application/json" variableName="reserva"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	reserva_id: flowVars.reserva.coche.reserva_id,
	fecha_recogida:flowVars.reserva.coche.fecha_recogida,
	fecha_devolucion: flowVars.reserva.coche.fecha_devolucion,
	lugar_recogida: flowVars.reserva.coche.lugar_recogida,
	lugar_devolucion: flowVars.reserva.coche.lugar_devolucion,
	tanque_lleno: flowVars.reserva.coche.tanque_lleno,
	precio: flowVars.descuento_coche.descuento
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/coche/reservaCoche" method="POST" doc:name="HTTP_reserva">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="resultado_coche" value="#[payload]" doc:name="Variable"/>

    </sub-flow>
    <sub-flow name="reserva_total">
        <set-variable variableName="suma_total" value="#[flowVars.resultado_avion.precio  + flowVars.resultado_coche.precio + flowVars.resultado_hotel.precio]  " doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="00698de6-f7ff-4af8-8b87-60e6a5f5cc73">
            <dw:input-variable mimeType="application/json" variableName="reserva"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	usuario: flowVars.reserva.login.usuario,
	vuelo_id: flowVars.resultado_coche.coche_id,
	hotel_id: flowVars.resultado_hotel.hotel_id,
	coche_id: flowVars.resultado_coche.coche_id,
	precio: flowVars.suma_total
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/reservaViaje" method="POST" doc:name="HTTP_reserva">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="getReserva" value="#[payload]" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/factura" method="GET" doc:name="HTTP_factura">
            <http:request-builder>
                <http:query-param paramName="id" value="#[flowVars.getReserva.viaje_id]"/>

            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	email: flowVars.reserva.login.usuario,
	idReserva: flowVars.getReserva.viaje_id
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="/notificacion/email" method="POST" doc:name="HTTP_email"/>
    </sub-flow>
</mule>
